<%= link_to 'Back index', articles_path %>
<%= link_to 'edit', edit_article_path %>
<h1><%= @article.title %></h1>
<p><%= @article.text %></p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
<% end %>

<h1>Add a comment:</h1>
<%= form_for [@article, @article.comments.build] do |f| %>
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>